body {

    margin: 0;
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("../images/nutritionFacts.jpg");
    background-size: cover;
   
}

#timer {

    height: 65px;
    font-size: 25px;
    font-family: 'Michroma', sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
    align-content: center;
    box-shadow: 0 0 10px 2px;

}

#gameTitle {
font-size: 50px;
font-family: 'Michroma', sans-serif;
margin: 0;
padding: 0;
align-content: center;

}

.jumbotron {
    opacity: .87;
    box-shadow: 0 0 10px 2px;
    align-content: center;
    
}

.triviaFont {
    font-family: 'Michroma', sans-serif;
    font-weight: bold;
    align-content: center;
}

.mainContainer {
    width: 85%;
    margin: 0 auto;
}

#button-primary {
    font-weight: 100;
   
}



#choices {
    font-family: 'Michroma', sans-serif;
    display: grid;
    grid-template-columns: repeat(2, auto) ;
    gap: 7px;
    border-radius: 10px;
}

