body {

    margin: 0;
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("../images/nutritionFacts.jpg");
    background-size: cover;
   
}

#testTimer {
    margin: 25px;
}
#timer, h1 {

    height: 65px;
    font-size: 25px;
    font-family: 'Michroma', sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;

}

.jumbotron {
    overflow: none;
    opacity: .87;
    
}

.triviaFont {
    font-family: 'Michroma', sans-serif;
    font-weight: bold;
}

.mainContainer {
    width: 85%;
    margin: 0 auto;
}

#button-primary {
    font-weight: 100;
}


